div {
  border: 1px solid;
  border-color: white;
}
.poll {
  display: flex;
  flex-direction: column;
}
.polluts {
  display: flex;
  align-items: baseline;
}
.pol-item {
  display: flex;
  align-items: center;

  flex-direction: column;
  flex-wrap: wrap;
  margin: 0rem 5px;
}

.poll {
  border-top: 1px solid;
  border-color: #cacaca7c;
  margin: 8px;
}
body {
  height: 500px;

  width: 300px;
  background-color: #232528;
  color: white;
  border-radius: 0.2rem;
}

.nav p {
  font-size: 0.8rem;
}
div {
  border: 0px solid;
}
.nav div {
  display: flex;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-color: #cacaca;
  margin: 0px 8px;
}

.location {
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
  margin: 1rem 0rem;
  color: black;
  background-color: #fdfdfd;
  min-height: 60px;
  max-height: 60px;
  align-items: center;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.index {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index div {
  text-align: center;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;
}

.lay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lay-content-item p {
  text-align: center;
  margin: 0px 8px;
}

.lay-content-item {
  margin: 0rem 1rem;
}

.ind {
  font-size: 1.2rem;
}

.desc {
  margin: 0px 8px;
}

::placeholder {
  color: black;
}
.search {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  color: white;
  margin: 0.6rem;
}

.search datalist {
  border: none;

  box-shadow: none;
  padding: 0.6rem 0rem;
  background-color: #ffffff;

  width: 100%;
}

.App {
  height: 500px;
  width: 300px;
}

.option {
  display: flex;
  justify-content: space-between;
}

input {
  padding: 0.6rem;
  border: none;
}

#city {
  margin: 0rem 1.5rem;
  text-align: center;
}
