.App {
  height: 500px;
  width: 350px;
  border: 1px solid;
}

div {
  border: 1px solid;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: #cacaca;
}
.nav * {
  margin: 15px;
}

.location {
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
  margin: 1rem 0rem;
}

.index {
  display: flex;
  justify-content: center;
}
